

.container {

    display: flex;
    justify-content: center;
    margin: 20%;
    flex-direction: column;
}
 .ajax-btn{
     background-color: #0982bc;
     border: none;
     border-radius: 10px;
     padding: 15px;
     color:#fff;
     font-size: 20px;
     font-weight: bold;
     cursor:pointer;
 }
 .ajax-btn:hover{
     background-color: #075377;
 }

 .info{
     display: flex;
     justify-content: center;
     color:#fff;
     background-color: rgba(0,0,0,0.7);
     border-radius:5px;
     margin-top: 25px;
     font-size: 25px;
 }