.container{
    margin:0 auto;
    width:75%;
    color: rgba(43, 43, 43, 0.96);
    font-family: "Open Sans", 'Arial', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    height: 100vh;
}
.table-container {
    display: flex;
}
.table{
    display: flex;
    margin:0 auto;
}

.cell {

    width:50px;
    height: 50px;
    border: 1px solid #999;
}
.cell:hover{
    border: 1px solid #000;
    cursor: pointer;
}
.settings-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.input-level{
    width:15px;
    height: 15px;
    cursor: pointer;
}
.start-btn{
    border-radius: 5px;
    padding:10px;
    background-color: transparent;
    border: 1px solid #999;
    cursor: pointer;
    color: rgba(43, 43, 43, 0.96);
    text-transform: uppercase;
    justify-self: center;
    font-size: 16px;
}
.start-btn:hover{
    border: 1px solid #000;
    color: #000;
}
.cell-computer{
    background-color: #ff3a42;

}
.cell-human{
    background-color: #30cf54;
}
.cell-try{
    background-color: #46b5ff;
}
